/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-padding: 16px;
    --primary-gap: 24px;
    --primary-color: rgb(52, 64, 117);
}

/* Import Roboto */
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: "Roboto", "Helvetica", sans-serif;
}

body > header,
body > nav,
body > article {
    padding: var(--primary-padding)
}

.header-container {
    border: 1px solid orange;
    grid-column: 2/3;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 2fr;
    align-items: center;
    gap: var(--primary-gap);
    padding: var(--primary-padding) 36px;
}

.top-header-content-search {
    grid-column: 1/4;
    grid-row: 1/2;

    display: flex;
    gap: var(--primary-gap);
}

.top-header-content-profile-small {
    grid-column: 4/6;
    grid-row: 1/2;
}

.bottom-header-content-profile-big {
    grid-column: 1/4;
    grid-row: 2/3;
}

.bottom-header-content-buttons {
    grid-column: 4/6;
    grid-row: 2/3;
}

.top-header-content-profile-small,
.bottom-header-content-buttons {
    display: flex;
    justify-content: flex-end;
    gap: var(--primary-gap);
}

.top-header-content-search img {
    height: 30px;
}
.top-header-content-search input {
    border-radius: 16px;
    border: none;
    background-color: lightblue;
    width: 80%;
    height: 1.5rem;
    padding: var(--primary-padding);
}

.bottom-header-content-buttons button {
    border: none;
    color: white;
    background-color: var(--primary-color);
    padding: 12px 28px;
    border-radius: 16px;  
}

.side-bar {
    background-color: var(--primary-color);
    border: 1px solid red;
    grid-column: 1/2;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}

.logo,
.top-side-bar-content,
.bottom-side-bar-content {
    color: white;
}

.content-container {
    background-color: lightgray;
    border: 1px solid blue;
    grid-column: 2/3;
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: var(--primary-gap);
}

.content-left {
    grid-column: 1/2;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}

.content-left-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: var(--primary-gap);
    
}

.content-left > p:first-child,
.content-right p:first-child {
    font-size: 20px;
    font-weight: 600;
}
.content-right p:first-child {
    margin-bottom: 24px;
}


.content-right {
    grid-column: 2/3;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    gap: var(--primary-gap);
}

.content-left-box,
.content-right-announcements-box,
.content-right-trending-user {
    background-color: white;
    /* border: 1px solid gray; */
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: var(--primary-padding);
}

.content-left-box {
    border-left: 6px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--primary-gap);
}

.content-right-announcements-box,
.content-right-trending-user {
    padding: 32px;
}

.box-images {
    display: flex;
    justify-content: flex-end;
    gap: var(--primary-gap);
}

.box-images img {
    height: 30px;
}