/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Import Roboto */
.roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    font-family: "Roboto", "Helvetica", sans-serif;
}

.header-container {
    border: 1px solid orange;
    grid-column: 2/3;
    grid-row: 1/2;
}

.side-bar {
    border: 1px solid red;
    grid-column: 1/2;
    grid-row: 1/3;

    display: flex;
    flex-direction: column;
    gap: 24px;

    padding: 16px;
}

.content-container {
    border: 1px solid blue;
    grid-column: 2/3;
    grid-row: 2/3;
}